/* 카드 컨테이너 */

/* .tarotcard-container {
  perspective: 1000px;
  cursor: pointer;
  position: relative; 
} */

/* 카드 기본 스타일 */
.tarotcard {
  width: 100px; /* 기본 카드 너비 */
  height: 150px; /* 기본 카드 높이 */
  position: relative;
  transform-style: preserve-3d; /* 3D 변환을 위해 필요 */
  transition: transform 0.6s, width 0.6s, height 0.6s, margin-left 0.6s, transform 0.6s; /* 애니메이션 추가 */
}

/* 카드 앞면 및 뒷면 */
.tarotcard-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* 뒷면이 가려지도록 설정 */
}

/* 카드 뒷면 */
.tarotcard-back {
  /* 추가 스타일이 필요하면 여기에 작성 */
  transform: rotateY(180deg); /* 뒷면 회전 */
}

/* 카드가 회전할 때의 스타일 */
.tarotcard.is-flipped {
  transform: rotateY(180deg) translateY(-150px); /* 카드 회전 및 약간의 위쪽 이동 */
  width: 400px; /* 회전 시 카드 너비 증가 */
  height: 600px; /* 회전 시 카드 높이 증가 */
  margin-left: 550px; /* 원하는 만큼 왼쪽으로 이동 */
}

/* 애니메이션 관련 CSS */
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 0.5s ease-out forwards;
}
