/* 카드 컨테이너 */
.card-container {
  perspective: 1000px; /* 3D 효과를 위해 필요 */
  cursor: pointer;
  position: relative; /* 부모 요소에 상대적 위치를 적용 */
}

/* 카드 기본 스타일 */
.card {
  width: 300px; /* 기본 카드 너비 */
  height: 477px; /* 기본 카드 높이 */
  position: relative;
  transform-style: preserve-3d; /* 3D 변환을 위해 필요 */
  transition: transform 0.6s, width 0.6s, height 0.6s, margin-left 0.6s,
    transform 0.6s; /* 애니메이션 추가 */
}

/* 카드 앞면 및 뒷면 */
.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* 뒷면이 가려지도록 설정 */
}

/* 카드 앞면 */
.card-front {
  /* 추가 스타일이 필요하면 여기에 작성 */
}

/* 카드 뒷면 */
.card-back {
  /* 추가 스타일이 필요하면 여기에 작성 */
  transform: rotateY(180deg); /* 뒷면 회전 */
}

/* 카드가 회전할 때의 스타일 */
.card.is-flipped {
  transform: rotateY(180deg) translateY(-150px); /* 카드 회전 및 약간의 위쪽 이동 */
  width: 400px; /* 회전 시 카드 너비 증가 */
  height: 600px; /* 회전 시 카드 높이 증가 */
  margin-left: 550px; /* 원하는 만큼 왼쪽으로 이동 */
}
