/* Online.css */

/* 기본 전환 효과 */
.content-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  .content-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  .content-exit {
    opacity: 1;
    transform: scale(1);
  }
  .content-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 300ms, transform 300ms;
  }
  
  /* 랜덤 매칭 (오른쪽에서 왼쪽으로) */
  .fade-random-enter {
    transform: translateX(100%);
  }
  .fade-random-enter-active {
    transform: translateX(0);
  }
  .fade-random-exit {
    transform: translateX(0);
  }
  .fade-random-exit-active {
    transform: translateX(-100%);
  }
  
  /* 예약하기 (왼쪽에서 오른쪽으로) */
  .fade-booking-enter {
    transform: translateX(-100%);
  }
  .fade-booking-enter-active {
    transform: translateX(0);
  }
  .fade-booking-exit {
    transform: translateX(0);
  }
  .fade-booking-exit-active {
    transform: translateX(100%);
  }
  